table, th, td {
  border: 1px solid;
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type='radio'] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px; 
}

/*  Add your primary and secondary styling below! */
.primary-button {
  color: #535bf2;
  background-color: coral;
  border: black;
  padding: 1em;
}

.secondary-button {
  color: darksalmon;
  background-color: #747bff;
  border: black;
  padding: 1em;

}